<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
	  <title> Home </title>
  </head>

<body>
  <nav>
    <div class = "navbar">
      <h1>Movie DB</h1>
        <a class="active"href="/"> HOME </a>
        <a href="/songs"> SONGS </a>
        <a href="/movies"> MOVIES </a>
        <a href="/profile"> PROFILE </a>
	<a href="/sign-up"> SIGN UP/LOG IN </a>
    </div>
  </nav>
  <div>
    <h2>Search</h2>
  </div>

  <form method="GET" action="/">
  <p> <input type="text" name="name"> <input type="submit" value="Search"></p>
  </form>

</body>


</html>
