<!DOCTYPE html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
	  <title> Movies </title>
  </head>

  <body>
    <nav>
      <div class = "navbar">
	<h1> Movie DB </h1>
        <a href="/index"> HOME </a>
	<a href="/songs"> SONGS </a>
	<a class="active" href="/"> MOVIES </a>
	<a href="/profile"> PROFILE </a>
	<a href="/sign-up"> SIGN UP/LOG IN </a>
      </div>
    </nav>
    <div>
      <h2> Search by Movie</h2>
    </div>

    <form method="GET" action="/movie-results">
	    <p> <input type="text" name="movie"> </p>
	    <p> <input type="submit" value="Search"> </p>
    </form>
  </body>


</html>
