<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <nav>
    <div class = "navbar">
      <h1>Movie DB</h1>
    <ul class="pages">
      <li> <a href="home.html"> HOME </a> </li>
      <li> <a href="songs.html"> SONGS </a> </li>
      <li> <a href="movies.html"> MOVIES </a> </li>
      <li> <a href="awards.html"> AWARDS </a> </li>
      <li> <a href="profile.html"> PROFILE </a> </li>
      <li> <a href="SignUpLogIn.html"> SIGN UP/LOG IN </a> </li>
    </ul>
  </nav>
  <div>
    <h2>Search</h2>
  </div>
      <!--
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
-->


</body>


</html>
