<!DOCTYPE html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
	  <title> Sign Up/Log In </title>
  </head>

  <body>
    <div class = "navbar">
      <h1> Movie DB </h1>
      <a href="/index"> HOME </a>
      <a href="/songs"> SONGS </a>
      <a href="/movies"> MOVIES </a>
      <a href="/profile"> PROFILE </a>
      <a class="active" href="/"> SIGN UP/LOG IN </a>
    </div>
    <div>
      <h2> Sign Up </h2>
    </div>

    <form method="POST" action="/sign-up">
	    <p> User Name: <input type="text" name="name"> </p>
	    <p> Account Type (Prime, Non Prime, VIP): <input type="text" name="account_type"> </p>
	    <p> <input type="submit" value="Sign Up"> </p>
    </form>

    <div>
      <h2> Log In </h2>
    </div>

    <form method="GET" action="/log-in">
	    <p> User Name: <input type="text" name="name"> </p>
	    <p> <input type="submit" value="Log In"> </p>
  </body>


</html>
