<!DOCTYPE html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
	  <title> Title </title>
  </head>

  <body>
    <nav>
      <div class = "navbar">
        <h1> Movie DB </h1>
              <a href="/index"> HOME </a>
        <a class="active" href="/songs"> SONGS </a>
        <a href="/movies"> MOVIES </a>
        {% if current_user.is_authenticated %}
          <a href="/profile"> PROFILE </a>
        {% else %}
          <a href="/sign-up"> SIGN UP </a>
        {% endif %}
      </div>
    </nav>
    <div>
      <h2> Search by Song </h2>
    </div>

    <form method="GET">
    <p> <input type="text" name="search"> <input type="submit" value="Search"></p>
    </form>
    
    <h2>Songs table</h2>

    <table style="width:100%">
      <thead>
        <tr>
          <th>Song Name</th>
          <th>Language</th>
        </tr>
      </thead>
      
      <tbody>
        {% for n in data %}
        <tr> 
        <td>{{n[2]}}</td>
        <td>{{n[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>


</html>
